In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [5]:
df=pd.read_csv('.\smsspamcollection\SMSSpamCollection', sep='\t', names=['Status','Message'])
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.groupby('Status').count()

        Message
Status
ham        4825
spam        747

In [9]:
df.loc[df['Status']=='ham', 'Status']=1
df.loc[df['Status']=='spam', 'Status']=0
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [10]:
df_x=df['Message']
df_y=df['Status']

In [12]:
cv=CountVectorizer()

In [13]:
x_train, x_test, y_train, y_test=train_test_split(df_x, df_y, test_size=0.2, random_state=4)

In [15]:
x_traincv=cv.fit_transform(x_train)
x_traincv.shape

(4457, 7762)

In [52]:
cv.inverse_transform(x_traincv[123])

[array(['arms', 'be', 'in', 'my', 'need', 'strong', 'to', 'you'],
       dtype='<U27')]

In [51]:
x_train[123]

'Todays Voda numbers ending 7548 are selected to receive a $350 award. If you have a match please call 08712300220 quoting claim code 4041 standard rates app'

In [62]:
mnb=MultinomialNB()
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [63]:
mnb.fit(x_traincv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [64]:
x_testcv=cv.transform(x_test)

<1x7762 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [65]:
pred=mnb.predict(x_testcv)
actual=np.array(y_test)
actual

array([1, 1, 1, ..., 1, 1, 0])

In [66]:
count=0
for i in range(len(pred)):
    if pred[i]==actual[i]:
        count=count+1

In [67]:
count

1092

In [34]:
len(pred)

1115

In [36]:
1092/1115

0.979372197309417

In [43]:
from sklearn.linear_model import LogisticRegression
model_log=LogisticRegression()
model_log.fit(x_traincv, y_train)
pred_log=model_log.predict( x_testcv)

In [44]:
count=0
for i in range(len(pred_log)):
    if pred_log[i]==actual[i]:
        count=count+1

In [46]:
count/1115

0.9838565022421525

In [47]:
model_log.score(x_testcv, y_test)

0.9838565022421525

In [68]:
test_set=['Thank you for your subscription','I need a sub for my tennis match tonight','Act now, one week free membership']
new_test=cv.transform(test_set)
mnb.predict(new_test)

array([1, 1, 0])

0.979372197309417